@import "tailwindcss";

@theme {
  --font-pixel: 'basis33', monospace;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
